.category-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .category {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;
        margin-bottom: 5%;
    }
    h2 {
        color: gray;
        padding: 2% 0%;
        font-size: 250%;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(37, 36, 36);
        text-shadow: rgb(255, 13, 186) 0.1em 0.1em 0.2em;
    }
}