.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(128, 128, 128);
    &:hover {
        box-shadow: 0 0 10px rgb(68, 68, 68);
    }
    img {
        width: 100%;
    }
    &-p {
        font-size: 100%;
        font-weight: 700;
    }
    .ver-mas {
        padding-bottom: 5%;
    }
}