.container-item-detail {
    margin: 2% 0% 4% 0%;
    .item-detail {
        width: 35vw;
        box-shadow: 0 0 10px rgb(128, 128, 128);
        img {
            width: 40%;
        }
        .prop-p {
            text-align: center;
            font-size: 150%;
            font-weight: 600;
            width: 50vw;
            padding-bottom: 2%;
        }
        .prop-p-description {
            font-size: 130%;
            text-align: start;
            width: 90%;
            padding-bottom: 4%;
    
        }
        .prop-p-volver {
            padding-top: 40%;
            margin-bottom: -10vh;
            font-size: 170%;
        }
    }
    .terminar-compra {
        button {
            margin: 15% 0% -20% 0%;
        }
    }
}