.cart {
    background-color: white;
    min-height: 90vh;
    .empty-cart {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 160%;
        }
        button {
            margin-top: 25%;
            height: 7vh;
            width: 12vw;
        }
    }
    &-div {
        width: 190%;
        text-align: end;
    }
    &-item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 90%;
        img {
            padding-right: 2%;
            height: 15vh;
        }
        .item-title {
            text-align: start;
        }
        .remove-item {
            cursor: pointer;
            color: red;
        }
        .cart-p-item {
            padding-left: 1%;
            font-size: 95%;
            color: black;
        }
        p {
            padding: 0% 2%;
        }
    }
    .items-cart {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 2.5%;
        width: 40%;
    }
    &-total {
        padding: 2% 0% 2% 23%;
        text-align: center;
        font-size: 130%;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        .cart-total {
            font-family: 'Staatliches', cursive;
            background-color: rgb(213, 63, 250);
            border-color: rgb(213, 63, 250);
            font-weight: 400;
            margin: 0% -20% !important;
            font-size: 100% !important;
            align-self: flex-end;
            &:hover {
                background-color: rgb(255, 13, 186);
                border-color: rgb(255, 13, 186);
            }
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        button, a {
            font-weight: 100;
            margin: 2% 3% 0% 3%;
            height: 6vh;
        }
    }
}

