.titulo {
    @include titulo;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:2%;
    p {
        width: 90vw;
        font-size: 120% !important;
        font-family: 'Staatliches', cursive;
        color: rgb(73, 70, 70) !important;
    }
}