.item-detail {
    width: 50vw;
    img {
        padding: 2% 0%;
        width: 25%;
    }
    .prop-p {
        text-align: center;
        padding: 0% 2%;
        font-size: 120%;
        font-weight: 600;
    }
    .prop-p-description {
        font-size: 110%;
        text-align: start;
        padding: 0% 2%;
    }
    .prop-p-volver {
        padding-top: 20%;
        font-size: 180%;
    }
}