.email {
    color: white;
}

.order_total-date {
    display: flex;
    color: white;
    .order-total {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .fecha {
        @extend .order-total;
    }
}

form {
    min-height: 90vh;
}

.form-order {
    p {
        font-size: 150%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    span {
        color: rgb(240, 113, 191);
    }
}
