.App-header {
    background-color: rgb(213, 63, 250);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    height: 12vh;
    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    nav>a {
        padding: 0rem 1rem;
        text-decoration: none;
        color: white;
        &:hover {
            color: rgb(233, 233, 233);
        }
    }
    nav>div>a {
        padding: 0rem 1rem;
        text-decoration: none;
        color: white;
        &:hover {
            color: rgb(233, 233, 233);
        }
    }
    .img-logo {
        height: 12vh;
    }
}

.nanette-shoes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    h1 {
        text-align: center;
        font-family: 'Staatliches', cursive;
        height: 10vh;
        color: ghostwhite;
        letter-spacing: 0.2rem;  
        padding: 0.5rem 0rem;     
    }
}

.background-attachment {
    background-image: url("./background1.png");
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed, scroll;
    @media screen and (min-width: 1400px) {
        height: 23vh;
    }
    p {
        align-self: center;
        font-size: 2rem;
        background-color: rgb(255, 13, 186);
        color: rgb(0, 0, 0);
        width: 25vw;
        height: 7vh;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'Staatliches', cursive;
        @media screen and (min-width: 1400px) {
            height: 5vh;
        }
    }
}

.solid-black {
    height: 7vh;
    background-color: black;
}
  
