// VARIABLES
$color1: rgb(213, 63, 250);
$color2: rgb(255, 13, 186);
$color3: fuchsia;
$color4: rgb(250, 250, 0);
$color5: rgb(140, 136, 136);
$color6: rgb(13, 255, 231);
$color7: rgb(236, 231, 231);
$box-shadow1: 0 0 10px rgb(128, 128, 128);
$box-shadow2: 2px 2px 12px rgb(55, 52, 52);
$box-shadow2: 0 0 10px $color5;
$font-primary: 'Staatliches', cursive;
$font-secondary: 'Josefin Sans', sans-serif;
$text-shadow: $color2 0.1em 0.1em 0.2em;