body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  -webkit-animation: fadein 0.7s;
  -moz-animation: fadein 0.7s;
  -ms-animation: fadein 0.7s;
  -o-animation: fadein 0.7s;
  animation: fadein 0.7s;
}

body {
  background-color: rgb(233, 233, 233);
}